h1
{
	text-align:center;
}

.sdRef{
	text-align: center;
	display: block;
}

.u{
	 text-decoration: underline;
}

.b{
	font-weight: bold;
}

table
{
	border: 1px solid;
	
}

td {
	border: 1px solid;
}

th
{
	border:1px solid;
}